body {

  <p> heya <p>
  background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
font-family: 'Amatic SC', cursive;
margin: 0px;
}
div {
  min-height: 100vh;
  width: 100vw;
}
h1, h2 {
  text-align: center;
}
